/* You can add global styles to this file, and also import other style files */
body, html{
    background-image: url('./assets/img/fondo-bg.png');
    /* background-size: 1000px 1500px; */
    background-repeat: repeat;
    /* background-position: center; */
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.tex{
    font-family: 'Roboto', sans-serif !important;

}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/*********** TABLAS *********************/
table > thead > tr > th{
    vertical-align: middle !important;
    font-size: 14px !important;
    
}


table > tbody > tr > td{
    vertical-align: middle !important;
    font-size: 14px !important;
    color: #383838 !important;
}